:root {
  --box-bg-red: #ed427a;
  --box-bg-yellow: #fcbb10;
  --box-bg-blue: #008ecf;
  --box-bg-green: #3ddc97;
  --box-bg-violet: #556efd;
  --fc-white: #ffffff;
}

.about-section {
  color: var(--fc-white);
}

.box {
  margin: 20px;
  color: var(--fc-white);
  border-radius: 17px;
  font-family: Nunito;
  font-size:20px;
  line-height: 33px;
}

.vertical-box-header {
  transform: rotate(180deg);
  text-orientation: sideways;
  writing-mode: vertical-lr;
}

.about {
  margin: 40% auto;
}

.help {
  margin: 20% auto;
}

.box-red {
  background-color: var(--box-bg-red);
  padding: 50px;
}

.box-yellow {
  background-color: var(--box-bg-yellow);
  padding: 50px;
}

.box-blue {
  background-color: var(--box-bg-blue);
  padding: 50px;
}

.box-green {
  background-color: var(--box-bg-green);
  padding: 50px;
}

.box-violet {
  background-color: var(--box-bg-violet);
  border-radius: 17px;
  color: var(--fc-white);
  padding: 10px;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: Visby Round CF;
  font-size: 26px;
  letter-spacing: 0.5096px;
}

.box p {
  margin-bottom: 0;
}
