.emailform-notification-title{
    border-bottom: 0px;
}

.emailform-notification-title{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: #46237a;
}

.emailform-notification-body{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    color: #46237a;
}

.emailform-notification-image{    
    max-width: 147px !important;
    max-height: 147px !important;
}

.emailform-notification-content{    
    border-radius: 48px !important;
    padding: 25px !important;
}

.emailform-notification-close-button{
    padding: 0 !important;
    font-size: 25px !important;
}