.emailform-notification-header{
    border-bottom: 0px;
}

.emailform-notification-title{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: #46237a;
    width: 100%;
}

.emailform-notification-body{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    color: #46237a;
}

.emailform-notification-image{    
    max-width: 147px !important;
    max-height: 147px !important;
}

.emailform-notification-content{    
    border-radius: 48px !important;
    padding: 25px !important;
}

.emailform-notification-close-button{
    margin-top: -1rem !important;
    margin-right: -1rem !important;
    padding: 0 !important;
}

@media (min-width: 992px) {
    .emailform-notification-dialog{
        max-width: 874px;
        height: 548px;
    }
}