@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar-light .navbar-nav .nav-link {
  font-family: Montserrat;
  color: #46237a;
}

.navbar-brand {
  margin-right: 0;
}
.navbar-logo {
  width: 120px;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
@media (min-width: 992px) {
  .navbar-logo {
    width: 200px;
  }
  .logo-container {
    overflow: hidden;
    max-width: 120px;
  }
}
