.platform-img-wrapper {
  max-height: 586px;
  display: flex;
  justify-content: center;
}

.platform-img-wrapper img {
  max-width: 100%;
}

.platform-text-block {
  font-family: Visby Round CF;
  color: #46237a;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.784314px;
}
