.section2-img-wrapper {
  max-height: 586px;
  display: flex;
  justify-content: center;
}

.section2-img-wrapper img {
  max-width: 100%;
}

.section-2-text-block {
  color: #46237a;
  text-align: center;
}
