.section2-img-wrapper {
  max-height: 586px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.section2-img-wrapper img {
  max-width: 100%;
}

.section-2-text-block {
  line-height: 1.125rem;
  color: #46237a;
  text-align: center;
}
